
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import '~@fortawesome/fontawesome-free/css/all.min.css';

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Izitoast
@import '~izitoast/dist/css/iziToast.min.css';


[v-cloak] {display: none}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.counters{
    display: flex;
    align-items: center;
}

.counter{
    margin-right: 10px;
    border: 1px solid transparent;
    display: inline-block;
    padding: 5px;
}

.answered{
    border: 1px solid $green;
    display: inline-block;
    padding: 10px;
    color: $green;
}

.answered-accepted{
    background-color: $green;
    color: #fff;
}

.questionsHeader{
    display: flex;
    align-items: center;
    &__title{
        margin-bottom: 0;
    }
}

.q{
    display: flex;
    flex-direction: row;
    align-items: center;
    &__title{
        margin-right: auto;
    }
    &__btngroup{
        display: flex;
        margin-left: auto;
    }
    &__edit{
        display: inline-block;   
        margin-right: 10px;
    }
    &__destroy{
        display: inline-block;
        margin-right: 5px;
    }
    &__meta{
        margin-top: 10px;
    }
}


.o-h{
    overflow: hidden;
}

.gravatar{
    width: 30px;
    height: auto;
}

.answers{
    margin-top: 20px;
}

.check-mark{
    //color: #6c757d;
}

.answer{
    margin-top: 20px;
    .answer-media{
        align-items: stretch;
    }
    .answer-media-body{
        display: flex;
        flex-direction: column;
    }
}

.respondent{
    margin-top: auto;
    display: flex;
    align-items: center;
    &__person{
        display: flex;
        flex-direction: column;
    }
    &__personName{
        display: inline-block;
        margin-left: 5px;
    }
}

.gravatarWrap{
    display: inline-block;
}

.vote-controls{
    min-width: 60px;
    margin-right: 30px;
    text-align: center;
    color: $gray-700;
    display: flex;
    flex-direction: column;

    span, a{
        display: block;
        color: $gray-700;
        text-decoration: none;
    }
    .votes-count{
        font-size: 22px;
    }
    .favorites-count{
        font-size: 14px;
    }

    a{
        cursor: pointer;
        color: $gray-600;
        transition: color .25s;

        &.off, &.off:hover{
            color: $gray-500;
        }

        &:hover{
            color: $green;
        }

        &.favorite{
            &.favorited, &.favorited:hover{
                color: $warning;
            }
            &.favorited .favorites-count{
                color: $warning;
            }
        }

        &.vote_accepted{
            color: $green;
        }

    }
}

.respondent__person{
    margin-right: auto;
}

.respondent__buttons{
    margin-left: auto;
    display: flex;
}

.answer{
    &__btn-group{
        margin-top: 10px;    
    }
    &__btn{
        margin-right: 5px;
    }
}